.icon-FolderPage {background:url(../images/icon/FolderPage.png) no-repeat !important;}
.icon-PageGear {background:url(../images/icon/PageGear.png) no-repeat !important;}
.icon-PageWhiteGear {background:url(../images/icon/PageWhiteGear.png) no-repeat !important;}
.icon-ScriptGear {background:url(../images/icon/ScriptGear.png) no-repeat !important;}
.icon-UserKey {background:url(../images/icon/UserKey.png) no-repeat !important;}
.icon-DoorOut {background:url(../images/icon/DoorOut.png) no-repeat !important;}
.icon-Help {background:url(../images/icon/Help.png) no-repeat !important;}
.icon-Textfield {background:url(../images/icon/Textfield.png) no-repeat !important;}
.icon-Magnifier {background:url(../images/icon/Magnifier.png) no-repeat !important;}
.icon-Cross {background:url(../images/icon/cross.png) no-repeat !important;}
.icon-GroupGear {background:url(../images/icon/GroupGear.png) no-repeat !important;}
.icon-Folder {background:url(../images/icon/Folder.png) no-repeat !important;}
.icon-Page {background:url(../images/icon/Page.png) no-repeat !important;}
.icon-Report {background:url(../images/icon/Report.png) no-repeat !important;}
.icon-User {background:url(../images/icon/User.png) no-repeat !important;}
.icon-UserMature {background:url(../images/icon/UserMature.png) no-repeat !important;}
.icon-UserBrown {background:url(../images/icon/UserBrown.png) no-repeat !important;}
.icon-TransmitGo {background:url(../images/icon/TransmitGo.png) no-repeat !important;}
.icon-Database {background:url(../images/icon/Database.png) no-repeat !important;}
.icon-DatabaseGear {background:url(../images/icon/DatabaseGear.png) no-repeat !important;}
.icon-ReportGo {background:url(../images/icon/ReportGo.png) no-repeat !important;}
.icon-ReportLink {background:url(../images/icon/ReportLink.png) no-repeat !important;}
.icon-Find {background:url(../images/icon/find.png) no-repeat !important;}
.icon-Favorite {background:url(../images/icon/star.png) no-repeat !important;}
.icon-Dashboard {background:url(../images/icon/dashboard.png) no-repeat !important;}
.icon-Chart {background:url(../images/icon/chart-icon.png) no-repeat !important;}

.icon-approve {background:url(../images/icon/check.png) no-repeat !important;}
.icon-notapprove {background:url(../images/icon/notaccept.png) no-repeat !important;}
.icon-waitingapprove {background:url(../images/icon/waitingaccept.png) no-repeat !important;}
.icon-done {background:url(../images/icon/check_blue.png) no-repeat !important;}
.icon-cancel {background:url(../images/icon/cancel.png) no-repeat !important;}
.icon-exclamation_blue {background:url(../images/icon/exclamation_blue.png) no-repeat !important;}

.icon-view {background:url(../images/icon/view.png) no-repeat !important;}
.icon-Add {background:url(../images/icon/Add.png) no-repeat !important;}
.icon-Disk {background:url(../images/icon/Disk.png) no-repeat !important;}
.icon-ArrowUndo {background:url(../images/icon/ArrowUndo.png) no-repeat !important;}
.icon-Delete {background:url(../images/icon/Delete.png) no-repeat !important;}
.icon-NoteEdit {background:url(../images/icon/NoteEdit.png) no-repeat !important;}
.icon-report-blue{background:url(../images/icon/reportblue.png) no-repeat !important;}

.icon-Stop {background:url(../images/icon/clock_stop.png) no-repeat !important;}
.icon-machine {background:url(../images/icon/machine.png) no-repeat !important;}
.icon-provider {background:url(../images/icon/provider.png) no-repeat !important;}
.icon-pest {background:url(../images/icon/bug.png) no-repeat !important;}
.icon-pesticide {background:url(../images/icon/poison.png) no-repeat !important;}
.icon-pipe {background:url(../images/icon/pipe.png) no-repeat !important;}
.icon-map {background:url(../images/icon/map.png) no-repeat !important;}
.icon-brick {background:url(../images/icon/brick.png) no-repeat !important;}
.icon-group {background:url(../images/icon/group.png) no-repeat !important;}
.icon-farm {background:url(../images/icon/farm.png) no-repeat !important;}
.icon-grass {background:url(../images/icon/grass.png) no-repeat !important;}
.icon-date {background:url(../images/icon/date.png) no-repeat !important;}
.icon-beaker{background:url(../images/icon/beaker.png) no-repeat !important;}
.icon-rat{background:url(../images/icon/rat.png) no-repeat !important; width:36px; height:16px;}
.icon-pentadon{background:url(../images/icon/pentadon.png) no-repeat !important;}
.icon-stalk{background:url(../images/icon/stalk.png) no-repeat !important;}
.icon-tower{background:url(../images/icon/tower.png) no-repeat !important;}
.icon-rain{background:url(../images/icon/weather_rain.png) no-repeat !important;}
.icon-sun{background:url(../images/icon/weather_sun.png) no-repeat !important;}
.icon-thermometer{background:url(../images/icon/thermometer.png) no-repeat !important;}
.icon-fog{background:url(../images/icon/fog.png) no-repeat !important;}
.icon-wind{background:url(../images/icon/wind.png) no-repeat !important;width:40px; height:16px;}
.icon-humidity{background:url(../images/icon/humidity.png) no-repeat !important;}
.icon-whitefly{background:url(../images/icon/whitefly.png) no-repeat !important;width:31px; height:16px;}
.icon-bush{background:url(../images/icon/bush.png) no-repeat !important;width:31px; height:16px;}
.icon-finishflag{background:url(../images/icon/finishflag.png) no-repeat !important;}
.icon-FarmPreparation {background:url(../images/icon/iFarmPreparation.png) no-repeat !important;}
.icon-Crop {background:url(../images/icon/iCrop.png) no-repeat !important;}
.icon-Planting {background:url(../images/icon/iPlanting.png) no-repeat !important;}
.icon-Removal {background:url(../images/icon/iRemoval.png) no-repeat !important;}
.icon-Planning {background:url(../images/icon/iPlanning.png) no-repeat !important;}
.icon-Mechanical {background:url(../images/icon/iMechanical.png) no-repeat !important;}
.icon-Studies {background:url(../images/icon/iStudies.png) no-repeat !important;}
.icon-Water {background:url(../images/icon/iWater.png) no-repeat !important;}

.icon-collapse {background:url(../images/icon/collapse.gif) no-repeat !important;}
.icon-expand {background:url(../images/icon/expand.gif) no-repeat !important;}


.icon-Monitoring {background:url(../images/icon/monitoring.png) no-repeat !important;}
.icon-Image {background:url(../images/icon/image.png) no-repeat !important;}
.icon-Money {background:url(../images/icon/money.png) no-repeat !important;}
.icon-Category {background:url(../images/icon/category.png) no-repeat !important;}
.icon-Bank {background:url(../images/icon/bank.png) no-repeat !important;}
.icon-FileManager {background:url(../images/icon/filemanager.png) no-repeat !important;}
.icon-Shop {background:url(../images/icon/shop.png) no-repeat !important;}
.icon-Brand {background:url(../images/icon/brand.png) no-repeat !important;}
.icon-Product {background:url(../images/icon/product.png) no-repeat !important;}
.icon-Store {background:url(../images/icon/store.png) no-repeat !important;}
.icon-BankCheck {background:url(../images/icon/bank-check.png) no-repeat !important;}
.icon-Factor {background:url(../images/icon/factor.png) no-repeat !important;}
.icon-Invest {background:url(../images/icon/invest.png) no-repeat !important;}
.icon-Audit {background:url(../images/icon/audit.png) no-repeat !important;}


[class^="bi-"],
[class*=" bi-"] {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}


.bi-tag {background-image: url(../..../images/icon/tag.png);}
.bi-clock {background-image: url(../..../images/icon/clock.png);}
.bi-mobile {background-image: url(../..../images/icon/mobile.png);}