.rating-cell .x-grid-cell-inner {
    padding-top:0px;
    padding-bottom:0px;
    line-height:16px;
}
.rating-selected {
    background:transparent url(../images/icons/rating-star.png) repeat-x right center;
}
.rating-unselected {
    background:transparent url(../images/icons/rating-star_fade.png) repeat-x right center;
}